.section {
    background-color: var(--accent);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.875rem;
    text-align: center;
    color: var(--bg);

}

.text hr {    
    margin: 0;
    border: none;
}